@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tracker - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/selectize.bootstrap5.min.css" />
    <link rel="stylesheet" href="~/lib/gridjs/mermaid.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TrackerWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/dx.common.css">
    <link rel="stylesheet" href="/css/dx.material.blue.light.compact.css">
    <link rel="icon" type="image/x-icon" href="~/img/logo.png">
    @* <link rel="stylesheet" href="/css/dx.light.compact.css">*@

    <script src="/js/site.js" type="text/javascript"></script>
    <script src="/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>

    @*<script src="/lib/gridjs/gridjs.umd.js" type="text/javascript"></script>*@

    <script src="/js/selectize.js" type="text/javascript"></script>
    <script src="/js/dx.all.js" type="text/javascript"></script>
    <script src="/js/exceljs.min.js" type="text/javascript"></script>
    <script src="/js/FileSaver.min.js" type="text/javascript"></script>

    <script src="https://cdn3.devexpress.com/jslib/17.2.18/js/localization/dx.messages.es.js"></script>
    <script>
        DevExpress.localization.locale(navigator.language || navigator.browserLanguage);
    </script>
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="" /></a>

                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Aviso" asp-action="Index">Avisos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Cliente" asp-action="Index">Clientes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Parte" asp-action="Index">Partes Visita</a>
                            </li>
                            @*<li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>*@
                        </ul>
                        <div class="float-end">@Html.Raw(User.Identity.Name) - <a class="" asp-area="" asp-controller="Home" asp-action="Logout">Cerrar Sesion</a></div>
                    </div>
                    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
        </header>
    }
    else
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="" /></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
        </header>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Hydroflomen - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
